#about
	position: relative
	font-family: "Roboto Slab", serif
	&-title
		font-family: "Oswald"
		transform: rotate(-90deg)
		position: absolute
		right: 1em
		font-size: 5em
		color: lightgrey
		z-index: -1

	&-content
		margin: 15em 1em

		&-bio
			font-size: 1em
			font-weight: 400
			text-transform: capitalize
			text-decoration: underline
			padding: 1em 0

		&-sum
			font-size: 2em
			font-weight: 700
			color: #F3C683
			padding: 0.5em 1em

		&-text
			margin: 1em 15em
			color: grey
