/*
 * Colors
 */
$gray = #444

/*
 * App
 */
#app
	height: 100vh
	display: flex

	&-menu
		width: 10%
		padding: 4em 2em
		position: relative

	&-picture
		background: #9e9e9e
		width: 20%
		background-image: url("/images/atomOrange.png")
		background-repeat: no-repeat
		background-position: 2em bottom
		background-size: 45em

	&-main
		width: 70%
		overflow-y: auto
		background-image: url("/images/atomGrey.png")
		background-repeat: no-repeat
		background-position: -22em bottom
		background-size: 45em
