
#menu
	&-name
		transform: rotate(-90deg)
		transform-origin: bottom
		position: absolute
		bottom: 3em
		font-size: 3em
		font-family: "Roboto Condensed", sans-serif

.link
	display: block
	font-size: 1.5em
	margin-bottom: 1.5em
	font-family: "Oswald", sans-serif
	text-align: center

	&--active
		color: #F3C683
