/*
 * Colors
 */


/*
 * App
 */
#picture
	display: flex
	height: 100vh
	flex-direction: column


	&-name
		color: #494949
		font-size: 4.6em
		font-weight: 700
		margin: 0.2em 3em
		font-family: "Roboto Condensed"

	&-job
		font-family: "Roboto Condensed", sans-serif
		padding: 0.2em 0 0 9.4em
		font-size: 1.5em
		width: 500px
		color: #494949
